* {margin:0;padding:0;box-sizing:border-box;}

body {
font-family: Arial;
background:#0f1115;
color:#fff;
padding:20px;
}

header{text-align:center;margin-bottom:20px;}

.menu {
display:flex;
gap:10px;
justify-content:center;
flex-wrap:wrap;
margin-bottom:20px;
}

.menu button {
background:#1a1d23;
color:#fff;
border:none;
padding:10px;
cursor:pointer;
border-radius:6px;
}

.aba {display:none;}
.ativa {display:block;}

.card {
background:#1a1d23;
padding:20px;
border-radius:10px;
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,select,textarea {
padding:10px;
border:none;
border-radius:6px;
}

textarea {height:120px;}

.linha {display:flex;gap:10px;}

.btn-principal {
background:#00c853;
color:#000;
font-weight:bold;
}
